.navbar{
    display:grid;
    background-color: #F5F5F5;
    grid-template-columns:1fr 1fr 1fr 1fr 0.6fr 0.5fr 0.5fr 0.5fr;
    grid-gap:5px;
  
}

a:focus{
  outline:3px solid #000
}

.navbar > div {
    background-color: #F5F5F5;
    align-self: center;
    font-size:10px;
  }
  #item1{
     grid-column: 1/4;
  }
  .navigation-icon {
    height: 1.3rem;
    width: 2rem;
   
}

